* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #005c4b;
  --secondary-color: #202c33;
  --teritiary-color: #00a884;
  --heighlight-color: #3e4b52;
  --main-color: #111b21;
  --text-color: white;
  --secondary-text-color: #59676f;
  --slant-text-color: rgba(164, 164, 164, 0.744);
  --slant-icon-color: rgba(190, 190, 190, 0.748);
}

.gray {
  --main-color: black;
  --primary-color: #353535;
  --secondary-color: #141414;
  --teritiary-color: #272926;
  --heighlight-color: var(--teritiary-color);
  --text-color: white;
  --secondary-text-color: #676b64;
  --slant-text-color: rgba(164, 164, 164, 0.744);
  --slant-icon-color: rgba(190, 190, 190, 0.748);
}

.blue {
  --main-color: black;
  --primary-color: #000000;
  --secondary-color: #181c21;
  --teritiary-color: #212532;
  --heighlight-color: #212532;
  --text-color: white;
  --secondary-text-color: #59676f;
  --slant-text-color: rgba(164, 164, 164, 0.744);
  --slant-icon-color: rgba(190, 190, 190, 0.748);
}
.red {
  --main-color: black;
  --primary-color: #000000;
  --secondary-color: #211818;
  --teritiary-color: #322121;
  --heighlight-color: var(--teritiary-color);
  --text-color: white;
  --secondary-text-color: #6f5959;
  --slant-text-color: rgba(164, 164, 164, 0.744);
  --slant-icon-color: rgba(190, 190, 190, 0.748);
}

.red-red {
  --main-color: black;
  --primary-color: #301515;
  --secondary-color: #211818;
  --teritiary-color: #322121;
  --heighlight-color: var(--teritiary-color);
  --text-color: white;
  --secondary-text-color: #6f5959;
  --slant-text-color: rgba(164, 164, 164, 0.744);
  --slant-icon-color: rgba(190, 190, 190, 0.748);
}

.light-green {
  --main-color: #fbfdf6;
  --primary-color: #fbfdf6;
  --secondary-color: #e7f1e6;
  --teritiary-color: #d3e8d2;
  --heighlight-color: var(--teritiary-color);
  --heighlight-color: #d3e8d2;
  --text-color: rgb(0, 0, 0);
  --secondary-text-color: #000000;

  --slant-text-color: black;
  --slant-icon-color: black;
}
body {
  background-color: black;
  color: white;
}

.chat-block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;

  .copy-icon {
    color: rgb(109, 109, 109);
  }
  // background-color: rgb(0, 0, 0);
}
.chat-block.p1 {
  display: flex;
  justify-content: end;
  flex-shrink: 0;
  padding-right: 12px;
  .chat {
    background-color: var(--primary-color);
    order: 1;
    &-abs {
      .time {
        right: 4px;
      }
    }
  }
}
.chat-block.p2 {
  display: flex;
  flex-shrink: 0;
  justify-content: start;
  padding-left: 12px;

  .chat {
    background-color: var(--secondary-color);
    &-abs {
      .time {
        right: 4px;
      }
    }

    .time {
      color: rgb(51, 70, 61);
    }
  }

  .copy-icon {
    order: 2;
  }
}

.chat {
  color: var(--text-color);
  min-width: 100px;
  max-width: 40%;
  background-color: rgb(48, 48, 48);
  border-radius: 8px;
  margin-bottom: 4px;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .time {
    font-size: 10px;
    color: rgb(174, 205, 191);
  }

  .mssg {
    font-size: 16px;
    padding: 4px 8px;
  }
}

.chat-abs {
  position: relative;

  .mssg {
    padding-bottom: 16px;
  }

  .time {
    position: absolute;
    bottom: 3px;
    right: 10;
    font-size: 11.5px;
  }
}

.chat-flex {
  .mssg {
    width: 100%;
    p {
      padding-bottom: 3px;
      margin-right: 3px;
      // background-color: red;
    }
    display: flex;
    align-items: end;
    gap: 3px;
    justify-content: space-between;
  }
  .time {
    font-size: 11.5px;
    // background-color: orange;
  }
}

@media screen and (max-width: 600px) {
  .chat {
    max-width: 82%;
  }
}
@media screen and (max-width: 600px) {
  .chat {
    max-width: 82%;
  }
}

.inner-body {
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-color);
  // filter: blur(5px);
}

.home {
  input {
    display: none;
  }

  button {
    border: none;
    background-color: rgb(0, 190, 124);
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 6px;
  }
}

.date {
  background-color: #1c272d;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  margin: 20px 0;
  // justify-content: ;
}

.about {
  // background-color: rgb(40, 54, 64);
  background-color: var(--secondary-color);
  padding: 14px 15px;
  border-radius: 12px;
  margin: 0 15px;
  margin-bottom: 12px;

  .info-item {
    margin-bottom: 15px;
    color: rgb(192, 192, 192);
  }

  .row {
    display: flex;
    gap: 25px;
  }

  .info-date,
  .info-cnt {
    padding: 4px 8px;
    background-color: var(--teritiary-color);

    border-radius: 6px;
    margin-left: 5px;
  }
}

.menu-icon {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 8px;
}
.menu {
  padding: 4px 4px;
  background-color: var(--secondary-color);
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 1;
  border-radius: 10px;
  .menu-item {
    margin-bottom: 8px;
    padding: 6px 10px;
  }
}

.file {
}

.img {
  max-height: 220px;
  margin: 20px 10px;
  min-width: 180px;
  width: calc(100% - 10px);
  height: 45vw;
  background-color: rgb(38, 38, 38);
  border-radius: 8px;
  margin-bottom: 6px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  height: 45px;
  font-family: sans-serif;
  align-items: center;
  background-color: var(--secondary-color);
  justify-content: center;
  font-size: 22px;
  margin-top: 8px;
}

.chat-box {
  display: flex;
  flex-direction: column;
}
